<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>arrayWithObjects:count:</key>
		<array>
			<string>safeShieldForArrayWithObjectsAndcount</string>
		</array>
	</dict>
	<dict>
		<key>objectsAtIndexes:</key>
		<array>
			<string>safeShieldForObjectsAtIndexs</string>
			<string>safeShieldForMutableObjectsAtIndexs</string>
		</array>
	</dict>
	<dict>
		<key>objectAtIndex:</key>
		<array>
			<string>safeShieldForObjectAtIndex</string>
			<string>safeShieldForMutableObjectAtIndex</string>
		</array>
	</dict>
	<dict>
		<key>getObjects:range:</key>
		<array>
			<string>safeShieldForGetObjectsRange</string>
			<string>safeShieldForMutableGetObjectsRange</string>
		</array>
	</dict>
	<dict>
		<key>setObject:atIndexedSubscript:</key>
		<array>
			<string>safeShieldForMutableSetObjectAtIndexedSubscript</string>
		</array>
	</dict>
	<dict>
		<key>removeObjectAtIndex:</key>
		<array>
			<string>safeShieldForMutableRemoveObjectAtIndex</string>
		</array>
	</dict>
	<dict>
		<key>insertObject:atIndex:</key>
		<array>
			<string>safeShieldForMutableInsertObjectAtIndex</string>
		</array>
	</dict>
	<dict>
		<key>addObject:</key>
		<array>
			<string>safeShieldForMutableAddObject</string>
		</array>
	</dict>
	<dict>
		<key>setValue:forKey:</key>
		<array>
			<string>safeShieldForSetVaueForKey</string>
		</array>
	</dict>
	<dict>
		<key>setValue:forKey:</key>
		<array>
			<string>safeShieldForSetVaueForKey</string>
		</array>
	</dict>
	<dict>
		<key>setValue:forKeyPath:</key>
		<array>
			<string>safeShieldForSetVaueForKeyPath</string>
		</array>
	</dict>
	<dict>
		<key>setValue:forUndefinedKey:</key>
		<array>
			<string>safeShieldForSetVaueForUndefinedKey</string>
		</array>
	</dict>
	<dict>
		<key>setValuesForKeysWithDictionary:</key>
		<array>
			<string>safeShieldForSetValuesForKeysWithDictionary</string>
		</array>
	</dict>
	<dict>
		<key>unrecognizedselector</key>
		<array>
			<string>safeShieldForSetValuesForUnRecognizedSelector</string>
		</array>
	</dict>
	<dict>
		<key>dictionaryWithObjects:forKeys:count:</key>
		<array/>
	</dict>
</array>
</plist>
