<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>arrayWithObjects:count:</key>
		<array>
			<string>safeShieldForArrayWithObjectsAndcount</string>
		</array>
	</dict>
	<dict>
		<key>objectsAtIndexes:</key>
		<array>
			<string>safeShieldForObjectsAtIndexes</string>
			<string>safeShieldForMutableObjectsAtIndexes</string>
		</array>
	</dict>
	<dict>
		<key>objectAtIndex:</key>
		<array>
			<string>safeShieldForObjectAtIndex</string>
			<string>safeShieldForMutableObjectAtIndex</string>
		</array>
	</dict>
	<dict>
		<key>getObjects:range:</key>
		<array>
			<string>safeShieldForGetObjectsRange</string>
			<string>safeShieldForMutableGetObjectsRange</string>
		</array>
	</dict>
	<dict>
		<key>setObject:atIndexedSubscript:</key>
		<array>
			<string>safeShieldForMutableSetObjectAtIndexedSubscript</string>
		</array>
	</dict>
	<dict>
		<key>removeObjectAtIndex:</key>
		<array>
			<string>safeShieldForMutableRemoveObjectAtIndex</string>
		</array>
	</dict>
	<dict>
		<key>insertObject:atIndex:</key>
		<array>
			<string>safeShieldForMutableInsertObjectAtIndex</string>
		</array>
	</dict>
	<dict>
		<key>addObject:</key>
		<array>
			<string>safeShieldForMutableAddObject</string>
		</array>
	</dict>
	<dict>
		<key>setValue:forKey:</key>
		<array>
			<string>safeShieldForSetVaueForKey</string>
		</array>
	</dict>
	<dict>
		<key>setValue:forKeyPath:</key>
		<array>
			<string>safeShieldForSetVaueForKeyPath</string>
		</array>
	</dict>
	<dict>
		<key>setValue:forUndefinedKey:</key>
		<array>
			<string>safeShieldForSetVaueForUndefinedKey</string>
		</array>
	</dict>
	<dict>
		<key>setValuesForKeysWithDictionary:</key>
		<array>
			<string>safeShieldForSetValuesForKeysWithDictionary</string>
		</array>
	</dict>
	<dict>
		<key>unrecognizedselector</key>
		<array>
			<string>safeShieldForSetValuesForUnRecognizedSelector</string>
		</array>
	</dict>
	<dict>
		<key>dictionaryWithObjects:forKeys:count:</key>
		<array>
			<string>safeShieldForDictionaryWithObjectsForKeysCount</string>
		</array>
	</dict>
	<dict>
		<key>setObject:forKey:</key>
		<array>
			<string>safeShieldForMutableDictionarySetObjectForKey</string>
		</array>
	</dict>
	<dict>
		<key>setObject:forKeyedSubscript:</key>
		<array>
			<string>safeShieldForMutableDictionarySetObjectForKeyedSubscript</string>
		</array>
	</dict>
	<dict>
		<key>removeObjectForKey:</key>
		<array>
			<string>safeShieldForMutableDictionaryRemoveObjectForKey</string>
		</array>
	</dict>
	<dict>
		<key>characterAtIndex:</key>
		<array>
			<string>safeShieldForCharacterAtIndex</string>
		</array>
	</dict>
	<dict>
		<key>substringFromIndex:</key>
		<array>
			<string>safeShieldForSubstringFromIndex</string>
		</array>
	</dict>
	<dict>
		<key>substringToIndex:</key>
		<array>
			<string>safeShieldForSubstringToIndex</string>
		</array>
	</dict>
	<dict>
		<key>substringWithRange:</key>
		<array>
			<string>safeShieldForSubstringWithRange</string>
		</array>
	</dict>
	<dict>
		<key>stringByReplacingOccurrencesOfString:withString:</key>
		<array>
			<string>safeShieldForStringByReplacingOccurrencesOfString</string>
		</array>
	</dict>
	<dict>
		<key>stringByReplacingOccurrencesOfString:withString:options:range:</key>
		<array>
			<string>safeShieldForStringByReplacingOccurrencesOfStringWithStringOptionsRange</string>
		</array>
	</dict>
	<dict>
		<key>stringByReplacingCharactersInRange:withString:</key>
		<array>
			<string>safeShieldForStringByReplacingCharactersInRangeWithString</string>
		</array>
	</dict>
	<dict>
		<key>replaceCharactersInRange:withString:</key>
		<array>
			<string>safeShieldForReplaceCharactersInRange</string>
		</array>
	</dict>
	<dict>
		<key>insertString:atIndex:</key>
		<array>
			<string>safeShieldForInsertStringAtIndex</string>
		</array>
	</dict>
	<dict>
		<key>deleteCharactersInRange:</key>
		<array>
			<string>safeShieldForDeleteCharactersInRange</string>
		</array>
	</dict>
</array>
</plist>
